@page
@model Group5_SE1730_BookingManagement.Pages.Hotel.BookingManagement.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Booking.Id" />
            <div class="form-group">
                <label asp-for="Booking.HomestayId" class="control-label"></label>
                <select asp-for="Booking.HomestayId" class="form-control" asp-items="ViewBag.HomestayId"></select>
                <span asp-validation-for="Booking.HomestayId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.GuestId" class="control-label"></label>
                <select asp-for="Booking.GuestId" class="form-control" asp-items="ViewBag.GuestId"></select>
                <span asp-validation-for="Booking.GuestId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.RoomId" class="control-label"></label>
                <select asp-for="Booking.RoomId" class="form-control" asp-items="ViewBag.RoomId"></select>
                <span asp-validation-for="Booking.RoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.BookingDate" class="control-label"></label>
                <input asp-for="Booking.BookingDate" class="form-control" />
                <span asp-validation-for="Booking.BookingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.CheckInDate" class="control-label"></label>
                <input asp-for="Booking.CheckInDate" class="form-control" />
                <span asp-validation-for="Booking.CheckInDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.CheckOutDate" class="control-label"></label>
                <input asp-for="Booking.CheckOutDate" class="form-control" />
                <span asp-validation-for="Booking.CheckOutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.NumAdults" class="control-label"></label>
                <input asp-for="Booking.NumAdults" class="form-control" />
                <span asp-validation-for="Booking.NumAdults" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.NumChildren" class="control-label"></label>
                <input asp-for="Booking.NumChildren" class="form-control" />
                <span asp-validation-for="Booking.NumChildren" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.SpecialReq" class="control-label"></label>
                <input asp-for="Booking.SpecialReq" class="form-control" />
                <span asp-validation-for="Booking.SpecialReq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Status" class="control-label"></label>
                <input asp-for="Booking.Status" class="form-control" />
                <span asp-validation-for="Booking.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
