@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 style="text-align:center">@ViewData["Title"]</h1>
<p style="text-align:center">
    Please check your email to reset your password.
</p>
