@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1 style="text-align:center">@ViewData["Title"]</h1>
<p style="text-align:center">
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
