[stylesheet-group="0"] {
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button,
input::-webkit-search-cancel-button,
input::-webkit-search-decoration,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

[stylesheet-group="0.1"] {
}

:focus:not([data-focusvisible-polyfill]) {
    outline: none;
}

[stylesheet-group="0.5"] {
}

.css-4rbku5 {
    background-color: rgba(0, 0, 0, 0);
    color: inherit;
    font: inherit;
    list-style: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: inherit;
    text-decoration: none;
}

.css-18t94o4 {
    cursor: pointer;
}

[stylesheet-group="1"] {
}

.css-1dbjc4n {
    -ms-flex-align: stretch;
    -ms-flex-direction: column;
    -ms-flex-negative: 0;
    -ms-flex-preferred-size: auto;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-basis: auto;
    -webkit-flex-direction: column;
    -webkit-flex-shrink: 0;
    align-items: stretch;
    border: 0 solid black;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-height: 0px;
    min-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    z-index: 0;
}

.css-901oao {
    border: 0 solid black;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 1);
    display: inline;
    font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.css-bfa6kz {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.css-cens5h {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.css-11aywtz {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 0 solid black;
    box-sizing: border-box;
    font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    resize: none;
}

.css-16my406 {
    color: inherit;
    font: inherit;
    white-space: inherit;
}

[stylesheet-group="2"] {
}

.r-bztko3 {
    overflow-x: visible;
    overflow-y: visible;
}

.r-1f0042m {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.r-tuq35u {
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
}

.r-kdyh1x {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.r-1udh08x {
    overflow-x: hidden;
    overflow-y: hidden;
}

.r-6koalj {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.r-rs99b7 {
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
}

.r-qpntkw {
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
}

.r-1yadl64 {
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
}

.r-1cis278 {
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: -1px;
}

.r-t60dpp {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

.r-1adg3ll {
    display: block;
}

.r-1471scf {
    display: inline;
}

.r-ywje51 {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.r-edyy15 {
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
}

.r-13awgt0 {
    -ms-flex: 1 1 0%;
    -webkit-flex: 1;
    flex: 1;
}

.r-1jkafct {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.r-7d3vna {
    border-bottom-width: 8px;
    border-left-width: 8px;
    border-right-width: 8px;
    border-top-width: 8px;
}

.r-1dzdj1l {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.r-nsiyw1 {
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

.r-vqdl9b {
    border-bottom-width: 12px;
    border-left-width: 12px;
    border-right-width: 12px;
    border-top-width: 12px;
}

.r-xoduu5 {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}

.r-sdzlij {
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
}

.r-mipz03 {
    margin-bottom: 0 auto 20px auto;
    margin-left: 0 auto 20px auto;
    margin-right: 0 auto 20px auto;
    margin-top: 0 auto 20px auto;
}

.r-xyw6el {
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
}

.r-h1746q {
    border-bottom-color: rgba(242, 243, 243, 1);
    border-left-color: rgba(242, 243, 243, 1);
    border-right-color: rgba(242, 243, 243, 1);
    border-top-color: rgba(242, 243, 243, 1);
}

.r-1phboty {
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
}

.r-1l31rp8 {
    border-bottom-color: rgba(205, 208, 209, 1);
    border-left-color: rgba(205, 208, 209, 1);
    border-right-color: rgba(205, 208, 209, 1);
    border-top-color: rgba(205, 208, 209, 1);
}

.r-1064s9p {
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
}

[stylesheet-group="2.1"] {
}

.r-1jgb5lz {
    margin-left: auto;
    margin-right: auto;
}

.r-r0h9e2 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.r-1e081e0 {
    padding-left: 12px;
    padding-right: 12px;
}

.r-oyd9sg {
    padding-bottom: 4px;
    padding-top: 4px;
}

.r-1pn2ns4 {
    padding-left: 8px;
    padding-right: 8px;
}

.r-5njf8e {
    padding-bottom: 8px;
    padding-top: 8px;
}

.r-1w50u8q {
    padding-bottom: 10px;
    padding-top: 10px;
}

.r-ymttw5 {
    padding-left: 16px;
    padding-right: 16px;
}

.r-s1qlax {
    padding-left: 4px;
    padding-right: 4px;
}

.r-1p6iasa {
    margin-bottom: 4px;
    margin-top: 4px;
}

.r-69vrnd {
    margin-left: -12px;
    margin-right: -12px;
}

.r-mvpalk {
    margin-left: 0px;
    margin-right: 0px;
}

.r-1f1sjgu {
    padding-bottom: 12px;
    padding-top: 12px;
}

.r-pw2am6 {
    margin-bottom: 24px;
    margin-top: 24px;
}

.r-lz04qo {
    margin-left: -4px;
    margin-right: -4px;
}

.r-usiww2 {
    margin-bottom: 12px;
    margin-top: 12px;
}

.r-1yzf0co {
    padding-bottom: 16px;
    padding-top: 16px;
}

.r-4amgru {
    margin-left: 4px;
    margin-right: 4px;
}

.r-5wp0in {
    padding-left: 40px;
    padding-right: 40px;
}

.r-1odlwh6 {
    padding-bottom: 56px;
    padding-top: 56px;
}

.r-1fz3rvf {
    margin-left: 12px;
    margin-right: 12px;
}

.r-1r5su4o {
    margin-bottom: 16px;
    margin-top: 16px;
}

.r-1n7yuxj {
    margin-left: 32px;
    margin-right: 32px;
}

.r-1guathk {
    padding-left: 24px;
    padding-right: 24px;
}

.r-1hy1u7s {
    margin-left: 24px;
    margin-right: 24px;
}

[stylesheet-group="2.2"] {
}

.r-ipm5af {
    top: 0px;
}

.r-13qz1uu {
    width: 100%;
}

.r-8ny0jo {
    z-index: 101;
}

.r-iy1yoi {
    -moz-transition: all ease 200ms;
    -webkit-transition: all ease 200ms;
    transition: all ease 200ms;
}

.r-1awozwy {
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.r-1777fci {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.r-u8s1d {
    position: absolute;
}

.r-82yag {
    min-width: 1222px;
}

.r-wy61xf {
    height: 72px;
}

.r-184en5c {
    z-index: 1;
}

.r-14lw9ot {
    background-color: rgba(255, 255, 255, 1);
}

.r-10gryf7 {
    min-height: 56px;
}

.r-18u37iz {
    -ms-flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.r-1wtj0ep {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.r-17yavnb {
    width: 1222px;
}

.r-1b7u577 {
    margin-right: 12px;
}

.r-1r8g8re {
    height: 36px;
}

.r-lrvibr {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.r-t1w4ow {
    font-family: Godwit, MuseoSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.r-1b43r93 {
    font-size: 14px;
}

.r-majxgm {
    font-weight: 500;
}

.r-rjixqe {
    line-height: 20px;
}

.r-fdjqy7 {
    text-align: left;
}

.r-633pao {
    pointer-events: none !important;
}

.r-1euycsn {
    -ms-flex-direction: row-reverse;
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.r-q3we1 {
    margin-top: -4px;
}

.r-j76wpu {
    top: 100%;
}

.r-b4qz5r {
    box-shadow: 0px 4px 10px rgba(3, 18, 26, 0.15);
}

.r-4k2abt {
    -webkit-transform-origin: top center;
    transform-origin: top center;
}

.r-1ep47lj {
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

.r-1clhhh9 {
    -moz-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
}

.r-1ftll1t {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.r-1kb76zh {
    margin-right: 8px;
}

.r-1q142lx {
    -ms-flex-negative: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.r-1pi2tsx {
    height: 100%;
}

.r-13hce6t {
    margin-left: 4px;
}

.r-eafdt9 {
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
}

.r-1i6wzkk {
    -moz-transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.r-1loqt21 {
    cursor: pointer;
}

.r-1otgn73 {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.r-10paoce {
    outline-width: 0px;
}

.r-1vonz36 {
    clip: rect(0, 0, 0, 0);
}

.r-109y4c4 {
    height: 1px;
}

.r-3s2u2q {
    white-space: nowrap;
}

.r-92ng3h {
    width: 1px;
}

.r-b88u0q {
    font-weight: 700;
}

.r-q4m81j {
    text-align: center;
}

.r-1o4mh9l {
    font-size: 0.875rem;
}

.r-f0eezp {
    line-height: 1rem;
}

.r-1ugchlj {
    height: 44px;
}

.r-tzz3ar {
    -ms-flex-wrap: nowrap;
    -webkit-box-lines: nowrap;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.r-1ktosi0 {
    max-width: 1222px;
}

.r-mrxtjd {
    min-width: 720px;
}

.r-88pszg {
    margin-right: 16px;
}

.r-1cwl3u0 {
    line-height: 16px;
}

.r-mwx11u {
    background-color: rgba(73, 179, 232, 1);
}

.r-16wqof {
    padding-bottom: 48px;
}

.r-m53kd2 {
    background-image: -webkit-linear-gradient( -180deg, rgba(0, 160, 255, 0), #0770cd );
    background-image: -moz-linear-gradient( -180deg, rgba(0, 160, 255, 0), #0770cd );
    background-image: linear-gradient( -180deg, rgba(0, 160, 255, 0), #0770cd );
}

.r-1d2f490 {
    left: 0px;
}

.r-1g80hic {
    opacity: 0.8;
}

.r-knv0ih {
    margin-top: 8px;
}

.r-zo7nv5 {
    -moz-column-gap: 16px;
    -webkit-column-gap: 16px;
    column-gap: 16px;
}

.r-bnwqim {
    position: relative;
}

.r-16k0tzm {
    width: 1024px;
}

.r-1x35g6 {
    font-size: 24px;
}

.r-vrz42v {
    line-height: 28px;
}

.r-1peese0 {
    margin-bottom: 24px;
}

.r-adyw6z {
    font-size: 20px;
}

.r-135wba7 {
    line-height: 24px;
}

.r-1aockid {
    width: 40px;
}

.r-todpsx {
    opacity: 0.3;
}

.r-1iusvr4 {
    -ms-flex-preferred-size: 0px;
    -webkit-flex-basis: 0px;
    flex-basis: 0px;
}

.r-16y2uox {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.r-1r2vb7i {
    max-width: 96px;
}

.r-1enofrn {
    font-size: 12px;
}

.r-jwli3a {
    color: rgba(255, 255, 255, 1);
}

.r-1vr29t4 {
    font-weight: 800;
}

.r-qpwdfp {
    text-shadow: 0 2px 4px rgba(27, 27, 27, 0.2);
}

.r-4u6olh {
    margin-top: -48px;
}

.r-uwe93p {
    width: 960px;
}

.r-obd0qt {
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -webkit-box-align: end;
    align-items: flex-end;
}

.r-1habvwh {
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
}

.r-1ihkh82 {
    background-color: rgba(247, 249, 250, 1);
}

.r-o8yidv {
    border-top-left-radius: 6px;
}

.r-ir6n1k {
    border-top-right-radius: 6px;
}

.r-1qhn6m8 {
    padding-left: 16px;
}

.r-tqpus0 {
    z-index: initial;
}

.r-1p0dtai {
    bottom: 0px;
}

.r-zchlnj {
    right: 0px;
}

.r-1wyyakw {
    z-index: -1;
}

.r-bcqeeo {
    min-width: 0px;
}

.r-1ny4l3l {
    outline-style: none;
}

.r-13n6l4s::-webkit-input-placeholder {
    color: rgba(205, 208, 209, 1);
    opacity: 1;
}

.r-13n6l4s::-moz-placeholder {
    color: rgba(205, 208, 209, 1);
    opacity: 1;
}

.r-13n6l4s:-ms-input-placeholder {
    color: rgba(205, 208, 209, 1);
    opacity: 1;
}

.r-13n6l4s::placeholder {
    color: rgba(205, 208, 209, 1);
    opacity: 1;
}

.r-1ux73yq {
    width: 33.333%;
}

.r-1jkjb {
    margin-left: 8px;
}

.r-cwxd7f {
    color: rgba(3, 18, 26, 1);
}

.r-s5r7i3 {
    top: 4px;
}

.r-1s3egr7 {
    z-index: 100;
}

.r-ubezar {
    font-size: 16px;
}

.r-1dgsx37 {
    width: 66.667%;
}

.r-14qw7yl {
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}

.r-1b8bd59 {
    -moz-transition-property: transform, opacity;
    -webkit-transition-property: -webkit-transform, transform, opacity;
    transition-property: -webkit-transform, transform, opacity;
}

.r-1kihuf0 {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    -webkit-align-self: center;
    align-self: center;
}

.r-12ghvtk {
    bottom: 100%;
}

.r-1w2pmg {
    height: 0px;
}

.r-1h2t8mc {
    width: 0px;
}

.r-1wyvozj {
    left: 50%;
}

.r-wxplv1 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.r-tcxvgb {
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}

.r-5oul0u {
    margin-bottom: 8px;
}

.r-eu3ka {
    height: 40px;
}

.r-1d4mawv {
    margin-right: 4px;
}

.r-cygvgh {
    font-size: 1rem;
}

.r-1iukymi {
    line-height: 1.5rem;
}

.r-16lk18l {
    margin-bottom: 48px;
}

.r-1wzrnnt {
    margin-top: 16px;
}

.r-1oszu61 {
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    align-items: stretch;
}

.r-njp1lv {
    padding-top: 1px;
}

.r-da5iq2 {
    box-shadow: 0px 1px 2px rgba(3, 18, 26, 0.2);
}

.r-pm2fo {
    border-bottom-left-radius: 0px;
}

.r-zmljjp {
    border-bottom-right-radius: 0px;
}

.r-1vznrp2 {
    border-top-left-radius: 8px;
}

.r-3f7b68 {
    border-top-right-radius: 8px;
}

.r-1olcfv4 {
    box-shadow: 0px -1px 0px rgba(128, 128, 128, 0.25);
}

.r-1quu1zo {
}

.r-1w6e6rj {
    -ms-flex-wrap: wrap;
    -webkit-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.r-1ut4w64 {
    margin-bottom: -1px;
}

.r-1ur9v65 {
    padding-top: 40px;
}

.r-iyfy8q {
    width: auto;
}

.r-uia4a0 {
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
    align-content: center;
}

.r-17s6mgv {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.r-8o66yb {
    max-width: calc(100% - 16px);
}

.r-19lq7b1 {
    top: 16px;
}

.r-z80fyv {
    height: 20px;
}

.r-17st2r6 {
    border-bottom-left-radius: 32px;
}

.r-1xhec65 {
    border-top-left-radius: 32px;
}

.r-1gkfh8e {
    font-size: 11px;
}

.r-1p6fy00 {
    line-height: 11px;
}

.r-1bymd8e {
    margin-top: 2px;
}

.r-5qlx7g {
    border-bottom-left-radius: 8px;
}

.r-nefvgx {
    border-bottom-right-radius: 8px;
}

.r-ou6ah9 {
    border-top-left-radius: 0px;
}

.r-t12b5v {
    border-top-right-radius: 0px;
}

.r-1q5vluy {
    box-shadow: 0px 3px 3.84px rgba(128, 128, 128, 0.25);
}

.r-19i43ro {
    margin-top: -1px;
}

.r-xd6kpl {
    padding-bottom: 8px;
}

.r-105ug2t {
    pointer-events: auto !important;
}

.r-dngjjt {
    left: -8px;
}

.r-1svt5kg {
    right: -8px;
}

.r-150rngu {
    -webkit-overflow-scrolling: touch;
}

.r-1wbh5a2 {
    -ms-flex-negative: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
}

.r-lltvgl {
    overflow-x: auto;
}

.r-buy8e9 {
    overflow-y: hidden;
}

.r-1sncvnh {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
}

.r-2eszeu::-webkit-scrollbar {
    display: none;
}

.r-2eszeu {
    scrollbar-width: none;
}

.r-p1pxzi {
    margin-bottom: 0px;
}

.r-vw2c0b {
    font-weight: bold;
}

.r-1s2bzr4 {
    margin-top: 12px;
}

.r-q4epte {
    background-color: rgba(104, 113, 118, 1);
}

.r-e65k4z {
    border-bottom-right-radius: 6px;
}

.r-dnmrzs {
    max-width: 100%;
}

.r-xifl00 {
    left: -4px;
}

.r-raw9v8 {
    max-width: 60%;
}

.r-1unwek3 {
    min-width: 20%;
}

.r-b2musu {
    border-bottom-color: rgba(11, 193, 117, 1);
}

.r-50vwne {
    border-left-color: rgba(11, 193, 117, 1);
}

.r-114ovsg {
    border-right-color: rgba(0, 0, 0, 0);
}

.r-1n816wc {
    border-top-color: rgba(11, 193, 117, 1);
}

.r-173mn98 {
    -ms-flex-item-align: end;
    -webkit-align-self: flex-end;
    align-self: flex-end;
}

.r-1js75c6 {
    border-bottom-color: rgba(218, 218, 218, 1);
}

.r-qklmqi {
    border-bottom-width: 1px;
}

.r-1elnebe {
    width: 672px;
}

.r-1azjx3i {
    max-height: 72px;
}

.r-18cmd0a {
    bottom: 50%;
}

.r-h0d30l {
    height: 28px;
}

.r-1iww7jx {
    width: 28px;
}

.r-mhe3cw {
    z-index: 10;
}

.r-1f3izhi {
    right: -12px;
}

.r-k200y {
    -ms-flex-item-align: start;
    -webkit-align-self: flex-start;
    align-self: flex-start;
}

.r-eqz5dr {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.r-xllap1 {
    max-width: 20%;
}

.r-e7q0ms {
    width: 90%;
}

.r-1ifxtd0 {
    margin-bottom: 16px;
}

.r-10fj5tc {
    margin-top: 48px;
}

.r-zd98yo {
    margin-bottom: 32px;
}

.r-1x0uki6 {
    margin-top: 20px;
}

.r-117bsoe {
    margin-bottom: 20px;
}

.r-1oji4za {
    width: 30%;
}

.r-132bva {
    height: 180px;
}

.r-ctyi22 {
    left: 20px;
}

.r-15zivkp {
    margin-bottom: 4px;
}

.r-1uvif2h {
    border-collapse: collapse;
}

.r-5kkj8d {
    border-top-width: 1px;
}

.r-11nfnuw {
    padding-top: 48px;
}

.r-1d09ksm {
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    -webkit-box-align: baseline;
    align-items: baseline;
}

.r-1ow6zhx {
    margin-left: 16px;
}

.r-1q2s4rl {
    padding-bottom: 56px;
}

.r-bqdgw5 {
    padding-top: 56px;
}

.r-nk2qpz {
    color: rgba(205, 208, 209, 1);
}

.r-1ud240a {
    color: rgba(104, 113, 118, 1);
}

.r-2nmnel {
    line-height: 1.5px;
}

.r-169s5xo {
    margin-bottom: 100px;
}

.r-k8qxaj {
    padding-bottom: 20px;
}

.r-b5h31w {
    padding-left: 20px;
}

.r-1ah4tor {
    padding-right: 20px;
}

.r-r7719k {
    box-shadow: 0px 4px 10px rgba(3, 18, 26, 0.15);
}

.r-49uufg {
    box-shadow: 0px 8px 16px rgba(3, 18, 26, 0.2);
}

.r-iphfwy {
    padding-bottom: 4px;
}

.r-ttdzmv {
    padding-top: 12px;
}

.r-aoullt {
    background-color: rgba(28, 41, 48, 1);
}

.r-1l7z4oj {
    padding-bottom: 16px;
}

.r-1o44xyg {
    background-color: rgba(53, 65, 72, 1);
}

.r-1kfrs79 {
    font-weight: 600;
}

.r-19u6a5r {
    margin-left: 12px;
}

.r-h3s6tt {
    height: 48px;
}

.r-1blnp2b {
    width: 72px;
}

.r-b8tw3c {
    width: 33.33%;
}

.r-1ebb2ja {
    list-style: none;
}

.r-6gpygo {
    margin-bottom: 12px;
}

.r-nzoivv {
    opacity: 0.65;
}

.r-1mnahxq {
    margin-top: 0px;
}

.r-ypl6q8 {
    opacity: 0.15;
}