html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button,
input::-webkit-search-cancel-button,
input::-webkit-search-decoration,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

[stylesheet-group="0.1"] {
}

:focus:not([data-focusvisible-polyfill]) {
    outline: none;
}

[stylesheet-group="0.5"] {
}

.css-4rbku5 {
    background-color: rgba(0, 0, 0, 0);
    color: inherit;
    font: inherit;
    list-style: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: inherit;
    text-decoration: none;
}

.css-18t94o4 {
    cursor: pointer;
}

[stylesheet-group="1"] {
}

.css-1dbjc4n {
    -ms-flex-align: stretch;
    -ms-flex-direction: column;
    -ms-flex-negative: 0;
    -ms-flex-preferred-size: auto;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-basis: auto;
    -webkit-flex-direction: column;
    -webkit-flex-shrink: 0;
    align-items: stretch;
    border: 0 solid black;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-height: 0px;
    min-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    z-index: 0;
}

.css-901oao {
    border: 0 solid black;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 1);
    display: inline;
    font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.css-bfa6kz {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.css-11aywtz {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 0 solid black;
    box-sizing: border-box;
    font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    resize: none;
}

[stylesheet-group="2"] {
}

.r-bztko3 {
    overflow-x: visible;
    overflow-y: visible;
}

.r-1f0042m {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.r-tuq35u {
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
}

.r-kdyh1x {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.r-1udh08x {
    overflow-x: hidden;
    overflow-y: hidden;
}

.r-6koalj {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.r-rs99b7 {
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
}

.r-qpntkw {
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
}

.r-1yadl64 {
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
}

.r-1cis278 {
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: -1px;
}

.r-t60dpp {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

.r-13awgt0 {
    -ms-flex: 1 1 0%;
    -webkit-flex: 1;
    flex: 1;
}

.r-edyy15 {
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
}

.r-42olwf {
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
}

.r-ywje51 {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.r-1w3sgar {
    -ms-flex: 0.7 1 0%;
    -webkit-flex: 0.7;
    flex: 0.7;
}

.r-xyw6el {
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
}

.r-1xfd6ze {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.r-nsbfu8 {
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
}

.r-sdzlij {
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
}

[stylesheet-group="2.1"] {
}

.r-1jgb5lz {
    margin-left: auto;
    margin-right: auto;
}

.r-r0h9e2 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.r-1e081e0 {
    padding-left: 12px;
    padding-right: 12px;
}

.r-oyd9sg {
    padding-bottom: 4px;
    padding-top: 4px;
}

.r-1pn2ns4 {
    padding-left: 8px;
    padding-right: 8px;
}

.r-5njf8e {
    padding-bottom: 8px;
    padding-top: 8px;
}

.r-1w50u8q {
    padding-bottom: 10px;
    padding-top: 10px;
}

.r-ymttw5 {
    padding-left: 16px;
    padding-right: 16px;
}

.r-s1qlax {
    padding-left: 4px;
    padding-right: 4px;
}

.r-1p6iasa {
    margin-bottom: 4px;
    margin-top: 4px;
}

.r-1f1sjgu {
    padding-bottom: 12px;
    padding-top: 12px;
}

.r-1guathk {
    padding-left: 24px;
    padding-right: 24px;
}

[stylesheet-group="2.2"] {
}

.r-ipm5af {
    top: 0px;
}

.r-13qz1uu {
    width: 100%;
}

.r-8ny0jo {
    z-index: 101;
}

.r-iy1yoi {
    -moz-transition: all ease 200ms;
    -webkit-transition: all ease 200ms;
    transition: all ease 200ms;
}

.r-1awozwy {
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.r-1777fci {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.r-u8s1d {
    position: absolute;
}

.r-82yag {
    min-width: 1222px;
}

.r-wy61xf {
    height: 72px;
}

.r-184en5c {
    z-index: 1;
}

.r-14lw9ot {
    background-color: rgba(255, 255, 255, 1);
}

.r-10gryf7 {
    min-height: 56px;
}

.r-18u37iz {
    -ms-flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.r-1wtj0ep {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.r-17yavnb {
    width: 1222px;
}

.r-1b7u577 {
    margin-right: 12px;
}

.r-1r8g8re {
    height: 36px;
}

.r-lrvibr {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.r-t1w4ow {
    font-family: Godwit, MuseoSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.r-1b43r93 {
    font-size: 14px;
}

.r-majxgm {
    font-weight: 500;
}

.r-rjixqe {
    line-height: 20px;
}

.r-fdjqy7 {
    text-align: left;
}

.r-633pao {
    pointer-events: none !important;
}

.r-1euycsn {
    -ms-flex-direction: row-reverse;
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.r-q3we1 {
    margin-top: -4px;
}

.r-j76wpu {
    top: 100%;
}

.r-b4qz5r {
    box-shadow: 0px 4px 10px rgba(3, 18, 26, 0.15);
}

.r-4k2abt {
    -webkit-transform-origin: top center;
    transform-origin: top center;
}

.r-1ep47lj {
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

.r-1clhhh9 {
    -moz-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
}

.r-1ftll1t {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.r-1kb76zh {
    margin-right: 8px;
}

.r-1q142lx {
    -ms-flex-negative: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.r-1pi2tsx {
    height: 100%;
}

.r-13hce6t {
    margin-left: 4px;
}

.r-eafdt9 {
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
}

.r-1i6wzkk {
    -moz-transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.r-1loqt21 {
    cursor: pointer;
}

.r-1otgn73 {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.r-10paoce {
    outline-width: 0px;
}

.r-1vonz36 {
    clip: rect(0, 0, 0, 0);
}

.r-109y4c4 {
    height: 1px;
}

.r-3s2u2q {
    white-space: nowrap;
}

.r-92ng3h {
    width: 1px;
}

.r-b88u0q {
    font-weight: 700;
}

.r-q4m81j {
    text-align: center;
}

.r-1o4mh9l {
    font-size: 0.875rem;
}

.r-f0eezp {
    line-height: 1rem;
}

.r-1ugchlj {
    height: 44px;
}

.r-tzz3ar {
    -ms-flex-wrap: nowrap;
    -webkit-box-lines: nowrap;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.r-1ktosi0 {
    max-width: 1222px;
}

.r-mrxtjd {
    min-width: 720px;
}

.r-88pszg {
    margin-right: 16px;
}

.r-1cwl3u0 {
    line-height: 16px;
}

.r-1ihkh82 {
    background-color: rgba(247, 249, 250, 1);
}

.r-1q2s4rl {
    padding-bottom: 56px;
}

.r-1g40b8q {
    z-index: 3;
}

.r-1gwmomf {
    background-color: rgba(2, 100, 200, 1);
}

.r-7fnjib {
    background-image: -webkit-linear-gradient( 160deg, #1a2f78 0%, #1870c9 50%, #5195e3 100% );
    background-image: -moz-linear-gradient( 160deg, #1a2f78 0%, #1870c9 50%, #5195e3 100% );
    background-image: linear-gradient( 160deg, #1a2f78 0%, #1870c9 50%, #5195e3 100% );
}

.r-wech8c {
    max-width: 1280px;
}

.r-obd0qt {
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -webkit-box-align: end;
    align-items: flex-end;
}

.r-1h0z5md {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.r-tqpus0 {
    z-index: initial;
}

.r-1p0dtai {
    bottom: 0px;
}

.r-1d2f490 {
    left: 0px;
}

.r-zchlnj {
    right: 0px;
}

.r-1wyyakw {
    z-index: -1;
}

.r-v1sgqt {
    background-color: rgba(255, 255, 255, 0.15);
}

.r-ubezar {
    font-size: 16px;
}

.r-135wba7 {
    line-height: 24px;
}

.r-bcqeeo {
    min-width: 0px;
}

.r-1ny4l3l {
    outline-style: none;
}

.r-jwli3a {
    color: rgba(255, 255, 255, 1);
}

.r-13n6l4s::-webkit-input-placeholder {
    color: rgba(205, 208, 209, 1);
    opacity: 1;
}

.r-13n6l4s::-moz-placeholder {
    color: rgba(205, 208, 209, 1);
    opacity: 1;
}

.r-13n6l4s:-ms-input-placeholder {
    color: rgba(205, 208, 209, 1);
    opacity: 1;
}

.r-13n6l4s::placeholder {
    color: rgba(205, 208, 209, 1);
    opacity: 1;
}

.r-sexje {
    -ms-flex-preferred-size: 27%;
    -webkit-flex-basis: 27%;
    flex-basis: 27%;
}

.r-1jkjb {
    margin-left: 8px;
}

.r-1wnm6qf {
    -ms-flex-preferred-size: 23%;
    -webkit-flex-basis: 23%;
    flex-basis: 23%;
}

.r-1d4mawv {
    margin-right: 4px;
}

.r-1k97etb {
    background-color: rgba(1, 148, 243, 1);
}

.r-vvn4in {
    background-position: center;
}

.r-1sxrcry {
    background-size: auto;
}

.r-15zx4ds {
    height: 360px;
}

.r-1sb480m {
    margin-top: -84px;
}

.r-9bullz {
    width: 1280px;
}

.r-zo7nv5 {
    -moz-column-gap: 16px;
    -webkit-column-gap: 16px;
    column-gap: 16px;
}

.r-1ssbvtb {
    gap: 12px;
}

.r-da5iq2 {
    box-shadow: 0px 1px 2px rgba(3, 18, 26, 0.2);
}

.r-o52ifk {
    height: 100px;
}

.r-417010 {
    z-index: 0;
}

.r-136ojw6 {
    z-index: 2;
}

.r-1enofrn {
    font-size: 12px;
}

.r-1mlwlqe {
    -ms-flex-preferred-size: auto;
    -webkit-flex-basis: auto;
    flex-basis: auto;
}

.r-1niwhzg {
    background-color: rgba(0, 0, 0, 0);
}

.r-u6sd8q {
    background-repeat: no-repeat;
}

.r-4gszlv {
    background-size: cover;
}

.r-1iud8zs {
    height: 50px;
}

.r-17s6mgv {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.r-f727ji {
    padding-left: 12px;
}

.r-j2kj52 {
    padding-right: 12px;
}

.r-k1fkm9 {
    -webkit-animation-name: r-1l9b1p3;
    animation-name: r-1l9b1p3;
}

@-webkit-keyframes r-1l9b1p3 {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes r-1l9b1p3 {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

.r-uia4a0 {
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
    align-content: center;
}

.r-qklmqi {
    border-bottom-width: 1px;
}

.r-ndvcnb {
    border-bottom-width: 0px;
}

.r-19u6a5r {
    margin-left: 12px;
}

.r-14qw7yl {
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}

.r-axxi2z {
    -moz-transition-property: transform;
    -webkit-transition-property: -webkit-transform, transform;
    transition-property: -webkit-transform, transform;
}

.r-kzbkwu {
    padding-bottom: 12px;
}

.r-wk8lta {
    padding-top: 0px;
}

.r-9wfyu0 {
    -moz-column-gap: 12px;
    -webkit-column-gap: 12px;
    column-gap: 12px;
}

.r-bnwqim {
    position: relative;
}

.r-1i6dfp5 {
    row-gap: 12px;
}

.r-1o3kkbv {
    width: 966px;
}

.r-gtdqiz {
    position: -webkit-sticky;
    position: sticky;
}

.r-r4y9i6 {
    border-right-color: rgba(205, 208, 209, 1);
}

.r-13l2t4g {
    border-right-width: 1px;
}

.r-r7719k {
    box-shadow: 0px 4px 10px rgba(3, 18, 26, 0.15);
}

.r-cygvgh {
    font-size: 1rem;
}

.r-1iukymi {
    line-height: 1.5rem;
}